{% extends "layout.html" %}
{% block head %}
	<!-- Load plotly.js into the DOM -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Activark (About)</title>
	<script src="{{url_for('static', filename='/js/ignoredFunctions.js')}}"></script>
	<script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<!-- DataTables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
	<style>
			.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
		}
	</style>
	<div class="container">
		<!-- Introduction -->
		<div id="introduction" class="row" style="padding-top: 50px; height: 500px;">
			<div class="card">
				<div class="card-body">
					<h3>The logo</h3>
					<div class=".border-0" style="padding-top: 25px; width: 60%; outline: none !important; float: left;" data-step="2" data-title="Input information" data-intro="Information about the input">
						<p>We couldn't decide whether Activark sounded more like an Aardvark or an Active Ark, so we used ML to create an image of an Aardvark enthusiastically riding an Ark.
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	  
{% endblock %}
