<head>
	<!-- Load plotly.js into the DOM -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<!--
	<script src="{{url_for('static', filename='/js/plt.js')}}"></script>
	<script src="{{url_for('static', filename='/js/createList.js')}}"></script>
	<script src="{{url_for('static', filename='/js/showStructure.js')}}"></script>
	<script src="{{url_for('static', filename='/js/dataTables.js')}}"></script>
	<script src="{{url_for('static', filename='/js/heatmap.js')}}"></script>
	<script src="{{url_for('static', filename='/js/ramachandran.js')}}"></script>
	<script src="{{url_for('static', filename='/js/g3-lollipop.js')}}"></script>
	-->
	<!-- g3lollipop -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/cdsjsd3/g3-viz/0.5.0/g3-lollipop.min.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<!-- PDBe Mol*-->
	<link rel="stylesheet" type="text/css" href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-light-3.0.0.css">
    <script type="text/javascript" src="https://www.ebi.ac.uk/pdbe/pdb-component-library/js/pdbe-molstar-plugin-3.0.0.js"></script>
	<!-- REACT-->
	<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<style>
	.headingText
	{
		font-family:    Arial, Helvetica, sans-serif;
		font-size:      30px;
		font-weight:    bold;
		text-align: center;
		padding-top: 100px;
	}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Search<span class="sr-only"></span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">About</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Help</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Russell lab</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<h3 class="headingText">Results</h3>
	<div class="container">
		
		<div class="row">
			<table id="outputTable" class="display" style="width:100%">
				<thead>
					<tr>
						<th></th>
						<th>Gene</th>
						<th>Acc</th>
						<th>Mutation</th>
						<th>hmmPos</th>
						<th>PTM</th>
						<th>ADR</th>
						<th>PredProba(A/D)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th></th>
						<th>Gene</th>
						<th>Acc</th>
						<th>Mutation</th>
						<th>hmmPos</th>
						<th>PTM</th>
						<th>ADR</th>
						<th>PredProba(A/D)</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
    <script>
		function format(d) {
				// `d` is the original data object for the row
				return (
					'<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
					'<tr>' +
					/*
					'<td>Phi:</td>' +
					'<td>' +
					d.Phi +
					'</td>' +
					'</tr>' +
					'<tr>' +
					'<td>Psi:</td>' +
					'<td>' +
					d.Psi +
					'</td>' +
					'</tr>' +
					'<td>Domain:</td>' +
					'<td>' +
					d.Domain +
					'</td>' +
					'</tr>' +
					'<td>PTM:</td>' +
					'<td>' +
					d.PTM +
					'</td>' +
					'</tr>' +
					'<td>ClinVar:</td>' +
					'<td>' +
					d.ClinVar +
					'</td>' +
					'</tr>' +
					'<td>UniProt:</td>' +
					'<td>' +
					d.UniProt +
					'</td>' +
					'</tr>' +
					'<td>COSMIC:</td>' +
					'<td>' +
					d.COSMIC +
					'</td>' +
					'</tr>' +
					'<td>Text:</td>' +
					'<td>' +
					d.text +
					'</td>' +
					'</tr>' +
					*/
					d.text +
					'</tr>' +
					'</table>'
				);
			}
		//alert({{output|safe}})
		$(document).ready(function () {
			var table = $('#outputTable').DataTable({
				ajax: '/static/predictor/output/'+{{uniqID|safe}}+'/output.json',
				// ajax: '/static/predictor/output/GPBXK/output.json',
				columns: [
					{
						className: 'dt-control',
						orderable: false,
						data: null,
						defaultContent: '',
					},
					{ data: 'gene' },
					{ data: 'acc' },
					{ data: 'mutation' },
					{ data: 'hmmPos' },
					{ data: 'ptmType' },
					{ data: 'mutType' },
					{ data: 'prediction' }
					
				]
				// ajax: '/home/gurdeep/projects/mechismoX/webApp/static/predictor/output/TTFHU/output.txt'
				// ajax: {
				// 	"url": '/static/predictor/output/TTFHU/output.json',
				// 	"dataSrc": 'data',
				// 	"type": "GET",
            	// 	"dataType": "json"
				// 	},

			});
			$('#outputTable tbody').on('click', 'td.dt-control', function () {
				var tr = $(this).closest('tr');
				var row = table.row(tr);
		
				if (row.child.isShown()) {
					// This row is already open - close it
					row.child.hide();
					tr.removeClass('shown');
				} else {
					// Open this row
					row.child(format(row.data())).show();
					tr.addClass('shown');
				}
			});
		});
		/*
		$(document).ready(function () {
			$('#outputTable').DataTable({
				//ajax: {{output|safe}},
				//ajax: 'static/predictor/output/'+{{uniqID|safe}}+'/output.json',
				
				data: {{output|safe}},
				
				columns: [
					
					{ "title": "Protein/Mutation",
						"render": function (data, type, row, meta)
						{
							protein = data.split("/")[0];
							mutation = data.split("/")[1];
							//alert (protein);
							//alert (data);
							//data = '<a href="FormToEdit.php?everything=' + data + '">'+data+'</a>';
							//data = '<a href="/result?uniqID='+{{uniqID|safe}}+'&protein='+protein+'&mutation='+mutation+'" target="_blank">'+data+'</a>';
							data = '<a href="/result?protein='+protein+'&mutation='+mutation+'" target="_blank">'+data+'</a>';
							//data = '<a href="/result?data="'+data+' target="_blank">'+data+'</a>';
							return data
						},
						},
					{ "title": "Homologs" },
					{ "title": "Bpsh" },
					{ "title": "exclParalogs" },
					{ "title": "specParalogs" },
					{ "title": "Orthologs"},
					{ "title": "Bpso" },
					{ "title": "Psi" },
					{ "title": "Phi" }
							]
				
				});
		} );
		*/
		/*
		$(document).ready(function() {
			var table = $('#outputTable').DataTable();
			$('#outputTable tbody').on('click', 'tr', function () {
					var data = table.row( this ).data();
					alert( 'You clicked on '+data[0]+'\'s row' );
					$.ajax({
						url: '/result',
						type: 'post',
						dataType: 'json',
						data: JSON.stringify(data[0]),
						success: function (response){alert('success')}
					});
					});
		} );
		*/
	</script>
</body>
