{% extends "layout.html" %}
{% block head %}
	<!-- Load plotly.js into the DOM -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KinAct: {{kinase	|safe}}/{{mutation|safe}}</title>
	<script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{url_for('static', filename='/js/showSummary.js')}}"></script>
	<script src="{{url_for('static', filename='/js/showChart.js')}}"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script>
		d3version3 = d3;
		window.d3 = null;
	</script>
	<!-- Load D4, which is used for rest of the components (z.B. lollipop)-->
	<script src="https://d3js.org/d3.v4.min.js"></script>

	<!-- DataTables -->
	<link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container" style="padding-bottom: 50px;">
	<div style="padding-top: 25px; padding-bottom: 25px;">
		<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-alignment">
			Alignment
		</button>
		<div id="collapse-alignment" class="collapse show" style="padding-top: 25px;">
			<div class="row" style="outline:none !important;">
				<div class="card">
					<div class="card-body">
						<div id='alignmentCard' class=".border-0" style="overflow: scroll;  max-width: 100%; outline: none !important; ">
							<!-- PTM objekt will be drawn inside this DIV -->
							<img src = "/static/img/CHK2_HUMAN_Position371_Windowsize30.svg" style="height: 5000; width: 5000px;" alt="My Happy SVG"/>
						</div>
						<script>
							// showPTM({{uniqID|safe}}, {{protein|safe}}, {{mutation|safe}});
							// showSummary({{uniqID|safe}}, {{kinase|safe}}, {{mutation|safe}}, {{results|safe}});
							// alert ({{uniqID|safe}});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	  
{% endblock %}
